---
import Layout from '../layouts/Layout.astro';
import SiteHeader from '../layouts/SiteHeader.astro';
import SiteFooter from '../layouts/SiteFooter.astro';
import Section from '../components/Section.astro';
import Showcase from '../components/Showcase.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Button from '../components/Button.astro';
---

<Layout title="Rodrigo D’Agostino | Web Developer">
	<SiteHeader />
	<main id="site-main">
		<Section id="about-me">
			<Showcase />
		</Section>
		<Section id="skills" title="Some technologies I’ve been working with">
			<Skills />
		</Section>
		<Section id="projects" title="Some things I’ve built">
			<Projects />
		</Section>
		<Section id="contact" title="Get in touch">
			<p>Are you interested in working together?<br />Hit me up! My inbox is always open 😉</p>
			<Button href="mailto:rodrigo.dagostino@gmail.com" variation="solid-dark">Say hello</Button>
		</Section>
	</main>
	<SiteFooter />
</Layout>
