---
import Layout from '../layouts/Layout.astro'
import SiteHeader from '../layouts/SiteHeader.astro'
import Section from '../components/Section.astro'
import Showcase from '../components/Showcase.astro'
---

<Layout title="Rodrigo D’Agostino | Web Developer">
  <SiteHeader />
  <main>
    <Section id="about-me">
      <Showcase />
    </Section>
    <Section id="skills" title="Some technologies I’ve been working with">
      <p>Skills</p>
    </Section>
    <Section id="projects" title="Some things I’ve built">
      <p>Projects</p>
    </Section>
    <Section id="contact" title="Get in touch">
      <p>Contact</p>
    </Section>
  </main>
</Layout>
