<a href="/">RD’</a>
<nav>
  <a href="#about-me">About me</a>
  <a href="#skills">Skills</a>
  <a href="#projects">Projects</a>
  <a href="#contact">Contact</a>
  <a href="/en">En</a>
  <a href="/es">Es</a>
</nav>
