<p>Hi there! My name is</p>
<h1 class="section__title">
  <span>Rodrigo D’Agostino,</span>
  <span>I build things for the web.</span>
</h1>
<p>
  I'm a web designer and front-end developer currently based in Córdoba,
  Argentina looking to work along with you to make things that <em
    >make a difference</em
  >.
</p>
