---
import Button from './Button.astro'
import Logo from './Logo.astro'
import Icon from './Icon.astro'
---

<p class="showcase__intro">Hi there! My name is</p>
<h1 class="showcase__title">
  <span class="showcase__title-line-1">Rodrigo D’Agostino,</span>
  <span class="showcase__title-line-2">I build things for the web.</span>
</h1>
<p class="showcase__subhead">
  I’m a web designer and front-end developer currently based in Córdoba, Argentina.<br />Let’s make
  things that <em>make a difference</em>.
</p>
<div class="showcase__outreach">
  <a href="https://github.com/rodrigodagostino">
    <span class="sr-only">Check out my GitHub profile</span>
    <Logo name="github" />
  </a>
  <a href="https://codepen.io/rodrigodagostino">
    <span class="sr-only">Check out my CodePen profile</span>
    <Logo name="codepen" />
  </a>
  <a href="https://behance.net/rodrigodagostino">
    <span class="sr-only">Check out my Behance profile</span>
    <Logo name="behance" />
  </a>
  <a href="https://www.linkedin.com/in/rodrigodagostino/">
    <span class="sr-only">Check out my LinkedIn profile</span>
    <Logo name="linkedin" />
  </a>
  <a href="mailto:rodrigo.dagostino@gmail.com">
    <span class="sr-only">Send me an email</span>
    <Icon name="envelope" />
  </a>
  <Button href="#" variation="solid-primary">
    <span class="sr-only">Download my</span>
     Resume
  </Button>
</div>

<style lang="scss">
  .showcase {
    &__intro {
      font-size: 1.25rem;
    }

    &__title {
      font-size: clamp(2rem, 8vw, 4rem);
      line-height: 1.1;
      margin-top: 0.5rem;

      &-line-1,
      &-line-2 {
        display: block;
      }

      &-line-2 {
        color: var(--grey-600);
      }

      & + .showcase__subhead {
        margin-top: 0.5rem;
      }
    }

    &__subhead {
      font-size: 1.25rem;
      margin-top: 0;
    }

    &__outreach {
      display: flex;
      align-items: center;
      gap: 1rem;

      a {
        display: inline-flex;
      }

      :global(svg path) {
        fill: currentColor;
      }

      :global(.button) {
        margin-left: 0.5rem;
      }
    }
  }

  @media screen and (min-width: 42.5em) {
    .showcase {
      &__title {
        margin-top: 1rem;

        & + .showcase__subhead {
          margin-top: 1rem;
        }
      }
    }
  }
</style>
