---
import Logo from './Logo.astro';

const { name, logo, url } = Astro.props;
---

<a class="skill" href={url} title={name} target="_blank">
	<Logo name={logo} />
	<span class="skill__name">{name}</span>
</a>

<style lang="scss">
	.skill {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		text-align: center;

		:global(.logo) {
			justify-content: center;
			width: 3rem;
			height: 3rem;

			:global(svg) {
				max-width: 100%;
				max-height: 100%;
				height: auto;
			}
		}

		:global(.logo--php),
		:global(.logo--npm),
		:global(.logo--nuxt) {
			width: 3.5rem;
		}

		:global(.logo--next) {
			width: 4.5rem;
		}

		&__name {
			font-size: 1rem;
			line-height: 1.24;
		}
	}
</style>
