---
import Logo from '../components/Logo.astro';
---

<footer class="site-footer">
  <div class="container">
    <a href="https://github.com/rodrigodagostino/personal-portfolio-v2" target="_blank">
      <span class="sr-only">Check out the code of this website that was</span>
      <span>Built with<Logo name="astro" /></span>
      <span class="sr-only">Astro</span>
      <span>by Rodrigo D’Agostino</span>
    </a>
  </div>
</footer>

<style lang="scss">
  .site-footer {
    padding-block: 2rem;
    font-size: 0.875rem;

    .container {
      text-align: center;
    }

    :global(.logo) {
      vertical-align: middle;
    }
  }
</style>
